<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>talent-demand-dynamics</title>
    <style>
      table {
        border-collapse: collapse;
      }
      thead {
        position: sticky;
        top: 0;
        background-color: white;
      }
      th {
        outline: 1px solid black;
        padding: 0.25rem;
      }
      td {
        border-bottom: 1px solid black;
        padding: 0.25rem;
        text-align: end;
      }
      td:last-child {
        text-align: start;
      }
    </style>
  </head>
  <body>
    <h1>talent-demand-dynamics</h1>
    <div>
      <input
        type="text"
        placeholder="search by keywords"
        oninput="search()"
        id="searchInput"
      />
      <div>
        You can search using multiple keywords, separated by "/", e.g. "db/sql"
      </div>
      <p id="result"></p>
    </div>
    <p>
      Sampled <span id="job_count">{job_count}</span> jobs from
      <span id="company_count">{company_count}</span> companies posted between
      {since} and {until}
    </p>
    <div style="margin: 1rem 0">
      <button onclick="mode='p'; search()">show percentage</button>
      <button onclick="mode='x'; search()">show relative ratio</button>
      <button onclick="mode=' '; search()">show occurrence count only</button>
    </div>
    <table id="table">
      <thead>
        <tr>
          <th>job_count</th>
          <th>company_count</th>
          <th>word</th>
        </tr>
      </thead>
      <tbody>
        {tbody}
      </tbody>
    </table>
    <script>
      let mode = 'p'
      for (let row of table.tBodies[0].rows) {
        row.job = +row.cells[0].innerText
        row.company = +row.cells[1].innerText
      }
      function search() {
        let searchText = searchInput.value.toLowerCase()
        let keywords = searchText
          .split('/')
          .map(part => part.trim())
          .filter(part => part.length > 0)
        let max_job = 0
        let max_company = 0
        let total_job = +job_count.innerText
        let total_company = +company_count.innerText
        let rows = []
        for (let row of table.tBodies[0].rows) {
          let word = row.cells[2].innerText.trim()
          let match =
            keywords.length == 0 ||
            keywords.some(keyword => word.includes(keyword))
          row.hidden = !match
          if (match) {
            max_job = Math.max(max_job, row.job)
            max_company = Math.max(max_company, row.company)
            rows.push(row)
          }
        }
        for (let row of rows) {
          let job_relative = row.cells[0].querySelector('.relative')
          let company_relative = row.cells[1].querySelector('.relative')

          let job_percent = ((row.job / total_job) * 100).toFixed(0)
          let company_percent = ((row.company / total_company) * 100).toFixed(0)

          let job_x = ((row.job / max_job) * 100).toFixed(0)
          let company_x = ((row.company / max_company) * 100).toFixed(0)

          if (mode == 'p') {
            job_relative.textContent = ` (${job_percent}%)`
            company_relative.textContent = ` (${company_percent}%)`
          } else if (mode == 'x') {
            job_relative.textContent = ` (${job_x}x)`
            company_relative.textContent = ` (${company_x}x)`
          } else {
            job_relative.textContent = ''
            company_relative.textContent = ''
          }
        }
        let n = rows.length
        if (n > 1) {
          result.textContent = `${n} matched keywords`
        } else {
          result.textContent = `${n} matched keyword`
        }
      }
      search()
    </script>
  </body>
</html>
