<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Talent Demand Dynamics</title>
    <style>
      table {
        border-collapse: collapse;
      }
      thead {
        position: sticky;
        top: 0;
        background-color: white;
      }
      th {
        outline: 1px solid black;
        padding: 0.25rem;
      }
      td {
        border-bottom: 1px solid black;
        padding: 0.25rem;
        text-align: end;
      }
      td:last-child {
        text-align: start;
      }
      label {
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <h1>Talent Demand Dynamics</h1>
    <p>
      This page shows occurrence statistics of information technology keywords
      shown in the job ads.
    </p>
    <p>
      Sampled <span id="job_count">{job_count}</span> jobs from
      <span id="company_count">{company_count}</span> companies posted between
      {since} and {until}
    </p>
    <div>
      <p>
        You can filter the keywords using multiple patterns, separated by "/".
      </p>
      <p>
        For example, "db/sql" will match "mysql", "postgresql", "mariadb" e.t.c.
      </p>
      <label for="searchInput">Filter by keywords: </label>
      <input
        type="text"
        oninput="search()"
        id="searchInput"
        placeholder="e.g. db/sql"
      />
      <p id="result"></p>
    </div>
    <form style="margin: 1rem 0" id="form">
      <div class="radio-group">
        show percentage:
        <label> <input type="radio" name="mode" value="po" /> overall </label>
        <label> <input type="radio" name="mode" value="pr" /> relative </label>
      </div>
      <div class="radio-group">
        show ratio relative to:
        <label> <input type="radio" name="mode" value="xo" /> top </label>
      </div>
      <div class="radio-group">
        only show:
        <label> <input type="radio" name="mode" value=" " /> occurrence </label>
      </div>
    </form>
    <table id="table">
      <thead>
        <tr>
          <th>job_count</th>
          <th>company_count</th>
          <th>word</th>
        </tr>
      </thead>
      <tbody>
        {tbody}
      </tbody>
    </table>
    <script>
      let f1 = x => x.toFixed(1)
      form.mode.value ||= 'po'
      for (let row of table.tBodies[0].rows) {
        row.job = +row.cells[0].innerText
        row.company = +row.cells[1].innerText
      }
      for (let input of form.mode) {
        input.onchange = search
      }
      function search() {
        let mode = form.mode.value
        let searchText = searchInput.value.toLowerCase()
        console.log('search:', { mode, searchText })
        let keywords = searchText
          .split('/')
          .map(part => part.trim())
          .filter(part => part.length > 0)
        let max_job = 0
        let max_company = 0
        let total_job = +job_count.innerText
        let total_company = +company_count.innerText
        let matched_job = 0
        let matched_company = 0
        let rows = []
        for (let row of table.tBodies[0].rows) {
          let word = row.cells[2].innerText.trim()
          let match =
            keywords.length == 0 ||
            keywords.some(keyword => word.includes(keyword))
          row.hidden = !match
          if (match) {
            max_job = Math.max(max_job, row.job)
            max_company = Math.max(max_company, row.company)
            matched_job += row.job
            matched_company += row.company
            rows.push(row)
          }
        }
        let calc_relative = row => {
          switch (mode) {
            case 'po':
              return {
                job: ` (${f1((row.job / total_job) * 100)}%)`,
                company: ` (${f1((row.company / total_company) * 100)}%)`,
              }
            case 'pr':
              return {
                job: ` (${f1((row.job / matched_job) * 100)}%)`,
                company: ` (${f1((row.company / matched_company) * 100)}%)`,
              }
            case 'xo':
              return {
                job: ` (${f1((row.job / max_job) * 100)}x)`,
                company: ` (${f1((row.company / max_company) * 100)}x)`,
              }
            case 'xr':
              return {
                job: ` (${f1((row.job / max_job) * 100)}x)`,
                company: ` (${f1((row.company / max_company) * 100)}x)`,
              }
            default:
              return { job: '', company: '' }
          }
        }
        for (let row of rows) {
          let relative = calc_relative(row)
          row.cells[0].querySelector('.relative').textContent = relative.job
          row.cells[1].querySelector('.relative').textContent = relative.company
        }
        let n = rows.length
        let n_str = n.toLocaleString()
        if (n > 1) {
          result.textContent = `${n_str} matched keywords`
        } else {
          result.textContent = `${n_str} matched keyword`
        }
      }
      search()
    </script>
  </body>
</html>
